body {
  background-color: #313131;
  margin: 0;
  font-family: Lato;
  max-width: 1920;
}


.navigation {
  height: 10vmin;
  background-color: blue;
  margin: 0;
  padding: 1vmax 2vmax;
  list-style: none;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
