
.top {
    background-color: rgb(44, 44, 44);
    margin: 0;
    padding: 0;
}

.middle {
    background-color: rgb(66, 65, 65);
    margin: 0;
    padding: 0;
}

.bottom {
    background-color: rgb(44, 44, 44);
    margin: 0;
    padding: 0;
}

.navigation {
    max-width: 70%;
    padding: 10px auto;
}

.navigationItem {
    padding: 10px 20px;
    list-style: none;
    list-style-image: none;
    text-decoration: none;
    display: inline;
}

.navItem1 {
    position: absolute;
    right: 0%;
}

.navItem2 {
    position: absolute;
    right: 5%;
}

.navItem3 {
    position: absolute;
    right: 10%;
}