.background-body {
    background-color: #232536;
}

.nav-g-style {
    padding-top: 10px;
    background-color: #232536;
}

.hr-separator {
    border: 1px solid #A6986C;
    margin: 0;
}

footer {
    padding: 1rem;
    text-align: center;
    font-size: small;
    background-color: #232536;
    color: #D6D5D1;
}

.home {
    background-color: #D6D5D1;
}

.title {
    font-weight: bold;
    vertical-align: middle;
}

.nav-font {
    color: #D6D5D1;
}

.padding-g {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.img-g {
    width: 100%;
}

.btn-g {
    background-color: #A6986C;
    margin: .25rem;
}